{% load staticfiles %}
<html>
    <head>
        <title>Bearmat</title>
        <link rel="stylesheet" href="{% static 'css/veteran.css' %}">
    </head>
    <body>
        <h1>Bearmat</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'mission' %}">Mission</a>
            <a href="{% url 'search_list' %}">Searches</a>
            <a href="{% url 'business_list' %}">Businesses</a>
            <div class="user-info">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    <a href="{% url 'profile_detail' pk=user.profile.pk %}">Profile</a>
                    <a href="{% url 'logout' %}">SignOut</a>
                {% else %}
                    <a href="{% url 'login' %}">LogIn</a>
                    <a href="{% url 'signup' %}">SignUp</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
