{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to Bearmat!</h2>
  <p>
    If you want to know what Bearmat is about, check out our <a href='#'>Mission</a>.
  </p>
  <br>
  <p>
    Make sure your profile is <a href='#'>up to date</a>. To begin your journey to entrepreneurship, go ahead and list your search details <a href='#'>here</a>.
  </p>
  <hr>
  <h3>What's this about?</h3>
  <p>
    We are building and equipping America's next generation of veteran entrepreneurs.
  </p>
  <p>
    See all of the veterans using our platform to achieve success as entrepreneurs.
  </p>
  <ul>
    {% for veteran in veterans %}
        <p>
            This is a placeholder - eventually query 1:1 Profiles based on User is_broker flag.
        </p>
    {% endfor %}
  </ul>

{% endblock %}
